/* Stylesheet */

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {

}

.sub-wrapper1 {
    background-color: blue;
    width: 50%;
}









.sub-wrapper2 {
    background-color: red;
    width: 50%;
}