/* Stylesheet */

body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    background: url(../background1.jpeg);
}

.container {
    margin: 20px 20px;
    padding: 10px 10px;
}
.wrapper {
    margin: 15px 15px;
    padding: 5px 5px;
    text-align: center;
    float: left;
}


.title{
    color: white;
    text-align: right;
    font-size: 50px;
    margin: 15px 155px 15px 0;
    font-family: 'Kumar One Outline', cursive;
}

input {
    background-color: white;
    border: dashed white;
    color: black;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    margin: 4px 2px;
    font-weight: bold;
}

button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    border: solid 2px #FF8119;
    background-color: #1597AF;
    color: #FFDA19;
}
.fa-search{
    letter-spacing: 2px;
}

.displayInfo {
    /* position: absolute; */
    top: 25%;
    width: 100%;
    /* transform: translateY(-50%);  THIS WAS OUR BUG TO THE SEARCH FIELD */
    color: white;
    position: relative;
    text-align: center;
    
}

.sizing {
    width: 125px;
    height: 75px;
    border: 2px dotted white;
    margin: 10px;
    /* border-radius: 50%; */
    font-size: 26px;
    padding: 20px;
    font-family: 'Pacifico', cursive;
    float: left;
    display: inline-block;
}

/* .sizing span {
    display: block;
    font-size: 26px;
    margin-top: 30px;
} */
h2{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    margin: 10px 0;
}
.manipulation{
    margin: 25px 25px;
    padding: 15px 15px;
    color: #eeeeee;
    float: right;
}
.copyInfo{
    color: #eeeeee;
    position: relative;
    margin-top: -180px;
    clear: both;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    font-weight: bold;
}
p{
    margin: 10px 10px;
    padding: 10px 10px;
}